.home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1080px;
  height: 1080px;
  padding: 40px;
  background: url(../../assets/images/decoration_bottom.png) no-repeat bottom
    center / 1080px;
}

.home main {
  display: flex;
  flex-flow: row nowrap;
}

.home footer {
  position: absolute;
  bottom: 40px;
  left: 40px;
}
